{% extends "base.html" %}

{% block title %}Saved Passwords - Password Maker{% endblock %}

{% block content %}
<h1 class="mb-4">Saved Passwords</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Password</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for password in passwords %}
        <tr>
            <td>{{ password.id }}</td>
            <td>{{ password.password_value }}</td>
            <td>{{ password.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
